.all {
  width: 500px;
  height: 600px;
  border: 2px solid gray;
  border-radius: 5px;
}
.topDiv {
  width: 100%;
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.inputDiv {
  width: 70%;
}
.inputDiv input {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding: 3px;
  border: 2px solid gray;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
}
.btnDiv {
  width: 15%;
  background: #40889f;
  border-radius: 2px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btnDiv p {
  color: white;
  font-weight: bold;
}

.downDiv {
  height: 530px;
}
.todoDiv {
  padding: 10px;
}
.todo_row {
  width: 95%;
  display: flex;
  background-color: orange;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin: 10px;
  border-radius: 2px;
}
.todoDiv p {
  padding: 10px;
}
.todo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.delete {
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 3px;
  cursor: pointer;
  font-weight: bold;
}
