.all {
  display: flex;
  width: 100%;
  background-color: mediumaquamarine;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 100px;
  text-align: center;
  padding: 1rem;
}

.navbar {
  display: flex;
  width: 20%;
  padding: 1rem;
}

.navbar p {
  color: white;
  margin: 0 1rem;
}
